/* TSOS.css */

body {
  background: #909193 url(distrib/images/linen.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}
#divConsole{
}


#display {
  background-color:#DFDBC3;
  border: 3px solid red;
  cursor: default;

}


.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

.start_button,
.halt_button,
.reset_button{
    height: 25px;
    width: 100px;
     color: black;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}


.start_button {
   background: rgb(28, 184, 65);
}

.halt_button {
 background: rgb(202, 60, 60);
}

.reset_button {
  background-color: yellow;

}


#divRight{
float: right;
}
#divLeft{
    float: left;
    margin-top: 60px;
}




#cpuTbl, #pcbTbl, #readyQueueTbl{

    height: auto;
    width:325px;
    border: 2px;
    border-color: black;
    background-color: white;
 }

#cpuTbl tr{
    border: 2px;
    border-color: black;
}
#Memory{
    height: 200px;
    width: 330px;
    overflow:scroll;
}
#memoryTable{
    margin-top: 5px;
    height: 50px;
    width:325px;
    border: 2px;
    border-color: black;
    background-color: white;
    overflow: scroll;

}



#PCB, #CPU, #Memory, #ReadyQueue{
    margin-top: 20px;}