/* TSOS.css */

body {
  background: #909193 url(distrib/images/linen.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}
#divConsole{
    overflow: scroll;
}


#display {
  background-color:#DFDBC3;
  border: 4px solid red;
  cursor: default;
    text-align: center;
    overflow: scroll;
}


.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

.start_button,
.halt_button,
.reset_button{
    height: 25px;
    width: 100px;
     color: black;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}


.start_button {
   background: rgb(28, 184, 65);
}

.halt_button {
 background: rgb(202, 60, 60);
}

.reset_button {
  background-color: yellow;

}


divMain{
align-content: center;
}
